

.navigation{
    top:0;
    right:0;
    background-color: black;
    display:inline-block;
    position: fixed;
    width: 100%;
   /* margin-right: 20px;*/
    padding-top: 40px;
    padding-bottom: 20px;
    color:white;
    text-align: center;
}


footer{
    margin-top: 130px;
    width: 100%;
    text-align: center;
   
}

.Bio{
    width: 100%;
    display:block;
    margin-top: 200px;
text-align: center;

}


.contact{
  
    /* position: absolute;
  left: 100px;*/
  display: block;
 
     color:white;
   
     background-color: black;
     padding-top:20px;
     padding-bottom: 10px;
 }





.projects{
    
    text-align: center;
}



.projectDescription{
    
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  